body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 4px 0px #001a45;
  font-size: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  text-align: center;
}

.form .MuiTextField-root {
  margin: 10px;
}

button {
  border-radius: 50px !important;
}

.form button {
  margin-top: 20px;
  margin-left: 15px;
}

.form fieldset {
  border: 1px solid #ccc;
  border-radius: 60px;
  background-color: #fff;
}

.form legend {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  color: #5475cf;
}

ul.MuiList-root {
  margin-top: 15px;
}

li.MuiListItem-container {
  background-color: #fff;
  border-radius: 50px;
  margin-bottom: 5px;
  padding: 0px 10px;
  transition: background-color 1s;
}

li.MuiListItem-container:hover {
  background-color: #d1deff;
  transition: background-color 1s;
}

li.MuiListItem-container button {
  background-color: #5475cf;
  color: #fff;
}

li.MuiListItem-container button:hover {
  background-color: #1149a6;
}

.MuiTextField-root {
  width: 25%;
}

.contact-card.MuiCard-root {
  border-radius: 170px;
  margin-top: 20px;
}

.actions.MuiCardActions-root {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.back-link.MuiTypography-colorPrimary {
  color: #ffffff;
  background-color: #e84279;
  display: block;
  margin: auto;
  margin-top: 17px;
  text-align: center;
  padding: 13px;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 130px;
  border-radius: 30px;
}

div[role="alert"] {
  margin-top: 50px;
  border-radius: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
